<header class="site-header">

  <div class="wrap">

    
    <a class="site-title" href="{{ site.baseurl }}/"><img width=100px height=100px src="{{ site.baseurl }}/assets/Ffmuc-logo-250.png"> {{ site.title }}</a>

<!-- Fixed navbar -->
    <div class="navbar navbar-fixed" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>          
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/wasistfreifunk">Was ist Freifunk?</a></li>
            <li class="dropdown">
              <a href="/mitmachen">Mitmachen<b class="caret"></b></a>
              <ul class="dropdown-menu">                
                <li><a class="page-link" href="/firmware">1. Firmware herunterladen</a></li>
                <li><a class="page-link" href="/router-flashen">2. Router flashen</a></li>
                <li><a class="page-link" href="/router-konfigurieren">3. Router konfigurieren</a></li>
                <li><a class="page-link" href="/verbreiten">Infomaterial</a></li>
                <li><a class="page-link" href="/unterstuetzung">Unterstützung</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/knotenkarte">Knotenkarte<b class="caret"></b></a>
              <ul class="dropdown-menu">                
                <li><a class="page-link" href="http://map.freifunk-muenchen.de/meshviewer/">Meshviewer</a></li>
              </ul>
            </li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/nutzungsbedingungen">Nutzungsbedingungen</a></li>
            <li><a href="/podcast">Podcast</a></li>
            <li class="dropdown">
              <a href="/dienste">Dienste<b class="caret"></b></a>
              <ul class="dropdown-menu">                
                <li><a class="page-link" href="https://ffmuc.net/wiki/">Wiki</a></li>
                <li><a class="page-link" href="https://lqfb.freifunk-muenchen.de/">Liquid-Feedback</a></li>
                <li><a class="page-link" href="https://ffmuc.net/pad/">Etherpad</a></li>
              </ul>
            </li>
            <li><a href="/kontakt">Kontakt</a></li> 
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

</header>
