<h2>Netzwerk Status</h2>
<a target='_blank' href="https://stats.ffmuc.net/d/kUoZ2DRWz/network-overview">>> Gateway Stats-Dashboard</a>
<br>
<br><u><b>Geplant:</b></u>
<br>12.10.2024 - Wartungsarbeiten neuer Switch für Münchner Rechenzentrum
<br><u><b>Aktuell:</b></u>
<br>Aktuell sind uns keine Störungen bekannt
<br><u><b>History:</b></u>
<br><b>03.04.2024</b> - Wartungsarbeiten neue Server für Wiener Rechenzentrum
<br><b>09.03.2024</b> - Wartungsarbeiten neue Server für Münchner Rechenzentrum
<br>
